#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a > #backgroundBox {
  position: absolute;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Rectangle_1 {
  position: absolute;
  width: 515.0px;
  min-height: 1001.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #3AB8F8;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Hotspot_2 {
  position: absolute;
  width: 145.6762313842778px;
  height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Hotspot_3 {
  position: absolute;
  width: 230.6762313842778px;
  height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Hotspot_4 {
  position: absolute;
  width: 273.6762313842778px;
  height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Hotspot_5 {
  position: absolute;
  width: 273.6762313842778px;
  height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Hotspot_6 {
  position: absolute;
  width: 273.6762313842778px;
  height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Times New Roman',Arial;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Times New Roman',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Times New Roman',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Text_1 span#rtr-s-Text_1_1 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Path_1 {
  position: absolute;
  width: 47.01863098144531px;
  height: 4.285656929016113px;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Path_2 {
  position: absolute;
  width: 47.01863098144531px;
  height: 4.285656929016113px;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Path_3 {
  position: absolute;
  width: 47.01863098144531px;
  height: 4.285656929016113px;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Path_4 {
  position: absolute;
  width: 30.583099365234375px;
  height: 30.871782302856445px;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a #s-Hotspot_1 {
  position: absolute;
  width: 100.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b6c5fad5-cfcb-4e65-bbc2-b8e63e1ce86a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}