#s-994990d5-7839-4c19-b813-597474c2a51f > #backgroundBox {
  position: absolute;
}
#s-994990d5-7839-4c19-b813-597474c2a51f > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_2 {
  position: absolute;
  width: 416.9267578125px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 {
  position: absolute;
  width: 412.4633789062507px;
  min-height: 722.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 span#rtr-s-Text_4_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 span#rtr-s-Text_4_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 span#rtr-s-Text_4_3 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 span#rtr-s-Text_4_4 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 span#rtr-s-Text_4_5 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 span#rtr-s-Text_4_6 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 span#rtr-s-Text_4_7 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 span#rtr-s-Text_4_8 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 span#rtr-s-Text_4_9 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 span#rtr-s-Text_4_10 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_4 span#rtr-s-Text_4_11 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Rectangle_1 {
  position: absolute;
  width: 480.0px;
  min-height: 123.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Times New Roman',Arial;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Times New Roman',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Times New Roman',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Text_1 span#rtr-s-Text_1_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Averia Serif Libre_18.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Path_1 {
  position: absolute;
  width: 47.01863098144531px;
  height: 4.285656929016113px;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Path_2 {
  position: absolute;
  width: 47.01863098144531px;
  height: 4.285656929016113px;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Path_3 {
  position: absolute;
  width: 47.01863098144531px;
  height: 4.285656929016113px;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Path_4 {
  position: absolute;
  width: 30.583099365234375px;
  height: 30.871782302856445px;
}
#s-994990d5-7839-4c19-b813-597474c2a51f #s-Hotspot_1 {
  position: absolute;
  width: 122.0px;
  height: 103.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-994990d5-7839-4c19-b813-597474c2a51f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}